@import "~@/assets/scss/variables.scss";

.loading {
    background-image: repeating-linear-gradient(
        -45deg,
        transparent 0,
        transparent 10px,
        fade-out($main-color, 0.8) 20px,
        transparent 30px,
        transparent 44px
    );
    animation: loading 1s infinite linear forwards;
    background-size: 62px 62px;

    @keyframes loading {
        0% { background-position: 0% 0; }
        100% { background-position: -62px 0; }
    }
}

a {
    color: $main-color-lighter;
    text-decoration: none;

    &:hover {
        color: $main-color-darker;
    }
}

.button.button-primary,
button.button-primary,
input[type="button"].button-primary,
input[type="reset"].button-primary,
input[type="submit"].button-primary {
    background-color: $main-color-lighter;
    border-color: $main-color-lighter;
}

.button.button-primary:focus,
.button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type="button"].button-primary:focus,
input[type="button"].button-primary:hover,
input[type="reset"].button-primary:focus,
input[type="reset"].button-primary:hover,
input[type="submit"].button-primary:focus,
input[type="submit"].button-primary:hover {
    background-color: $main-color;
    border-color: $main-color;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    border-color: $main-color;
}

* {
    transition-duration: 200ms;
    transition-property: color, background-color, border-color, box-shadow, height, display, opacity, top, left;
    transition-timing-function: ease;
}

button, .button {
    padding: 0 15px;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style-position: inside;
        list-style: none;
        position: relative;
        padding-left: 15px;

        &::before {
            content: '\25CB';
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 2rem;
}
