@import "~@/assets/scss/palette.scss";
// This file should only contain variables
// can be imported into other scss files by: @import "~@/assets/scss/variables.scss";
//
// if you need to get access variables as JSON in javascript:
//
//
// ensure, eslint doesn't yell at you
// /* eslint-disable import/no-webpack-loader-syntax, import/first */
// import styles from 'sass-extract-loader!@/assets/scss/variables.scss';

$vehicles: tram, citybus, intercitybus, suburbanrailway, train, cableway, ferry, hailedsharedtaxi;

$vehicle-color-names: (
    tram: Red,
    citybus: Light Blue,
    intercitybus: Light Blue,
    suburbanrailway: Green,
    train: Teal,
    cableway: Light Green,
    ferry: Blue,
    hailedsharedtaxi: Amber,
);

@function vehicle-color-name($vehicle) {
    @return map-get($vehicle-color-names, $vehicle);
}

$main-color-name: Light Blue;
$main-color: palette($main-color-name, 500);
$main-color-lighter: palette($main-color-name, 400);
$main-color-very-light: palette($main-color-name, 50);
$main-color-darker: palette($main-color-name, 800);
$reroute-color: palette(Amber, 700);
