# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.swp
*.out

# Editor directories and files
.idea
.vscode

.npm/
.config/
.ash_history
node_modules/
dist/
npm-debug.log*
